apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dev-istio
  namespace: argocd
  labels:
    workload: operations
spec:
  project: default
  source:
    repoURL: https://istio-release.storage.googleapis.com/charts
    chart: istiod
    targetRevision: 1.22.0
    helm:
      values: |
        pilot:
          nodeSelector:
            workload: operations
          tolerations:
            - key: "workload"
              operator: "Equal"
              value: "operations"
              effect: "NoSchedule"
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: workload
                        operator: In
                        values:
                          - operations
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
        sidecarInjectorWebhook:
          nodeSelector:
            workload: operations
          tolerations:
            - key: "workload"
              operator: "Equal"
              value: "operations"
              effect: "NoSchedule"
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: workload
                        operator: In
                        values:
                          - operations
        validationWebhook:
          nodeSelector:
            workload: operations
          tolerations:
            - key: "workload"
              operator: "Equal"
              value: "operations"
              effect: "NoSchedule"
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: workload
                        operator: In
                        values:
                          - operations
        ingressGateway:
          enabled: true
          nodeSelector:
            workload: operations
          tolerations:
            - key: "workload"
              operator: "Equal"
              value: "operations"
              effect: "NoSchedule"
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: workload
                        operator: In
                        values:
                          - operations
        egressGateway:
          enabled: true
          nodeSelector:
            workload: operations
          tolerations:
            - key: "workload"
              operator: "Equal"
              value: "operations"
              effect: "NoSchedule"
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: workload
                        operator: In
                        values:
                          - operations

  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
