apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      app: redis
  serviceName: redis
  replicas: 3
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:7.2
        ports:
        - containerPort: 6379
          name: redis
        volumeMounts:
        - name: redis-data
          mountPath: /data
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        command:
          - /bin/sh
          - -c
          - |
            # If this is redis-0 → start as primary
            if [[ "$POD_NAME" == "redis-0" ]]; then
              exec redis-server --appendonly no
            
            # For all other pods → start as replicas
            else
              exec redis-server \
                --appendonly yes \
                --replicaof redis-0.redis 6379
            fi
  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi