apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dev-prometheus
  namespace: argocd
  labels:
    workload: operations
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 58.5.0
    helm:
      values: |
        prometheus:
          prometheusSpec:
            nodeSelector:
              workload: operations
            tolerations:
              - key: "workload"
                operator: "Equal"
                value: "operations"
                effect: "NoSchedule"

        alertmanager:
          nodeSelector:
            workload: operations
          tolerations:
            - key: "workload"
              operator: "Equal"
              value: "operations"
              effect: "NoSchedule"

        grafana:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true