apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dev-kiali
  namespace: argocd
  labels:
    workload: operations
spec:
  project: default
  source:
    repoURL: https://kiali.org/helm-charts
    chart: kiali-server
    targetRevision: 1.78.0
    helm:
      values: |
        deployment:
          nodeSelector:
            workload: operations
          tolerations:
            - key: "workload"
              operator: "Equal"
              value: "operations"
              effect: "NoSchedule"
        auth:
          strategy: anonymous
  destination:
    server: https://kubernetes.default.svc
    namespace: kiali
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true