# This is a cluster IP service that load balances between the three redis pods
apiVersion: v1
kind: Service
metadata:
  name: redis-secondary
  namespace: backend
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
  - port: 6379
    name: redis
