
# Declaring a service as headless
# A headless service does not have an IP, neither a DNS name for external communications
# It has however an internal dns that is used for inter-pod commmunication
# This dns can never be used by consumers since it does not permit any load balancing. It just lists all available pod dns addresses.
# So, as mentioned, a headless service is specially used in case of stateful sets in order to assign a static DNS name to the underlying pods
# For stateful sets, we are not in a case of classic API deployments, we need fixed dns names for the underlying replicas
# And that's why headless services are specially useful for statefulsets
# Since client apps need to access to the redis instances and this is through another service which is of type ClusterIP
# Two other services of type clusterIP are added for writing redis data (redis_write-service.yaml) and for reading data (redis_read-service.yaml)
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: backend
spec:
  selector:
    app: redis
  ports:
  - port: 6379
    name: redis
  clusterIP: None
