apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../manifests/backend
  - ../../manifests/frontend
  - ../../manifests/shared
  - ../../manifests/database
  - backend_config-map.yaml

namePrefix: dev-
nameSuffix: ""

patches:
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
      name: frontend-httproute
      namespace: nginx-gateway          # ✅ specify actual namespace
    path: patches/patch-frontend-httproute.yaml
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
      name: backend-httproute
      namespace: nginx-gateway          # ✅ specify actual namespace
    path: patches/patch-backend-httproute.yaml