apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: default
  name: dev-kustomization

resources:
  - ../../manifests/backend
  - ../../manifests/frontend
  - ../../manifests/shared

namePrefix: dev-
nameSuffix: ""