apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../manifests/backend
  - ../../manifests/frontend
  - ../../manifests/shared
  - ../../manifests/database
  - backend_config-map.yaml

namePrefix: dev-
nameSuffix: ""