name: Auto Label Pull Requests

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
    issues: write

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - name: Add labels
        uses: actions/github-script@v7
        with:
          script: |
            const branch = context.payload.pull_request.head.ref;
            const labels = [];

            // ---------------------------
            // ✅ I - Adding branch based labels
            // ---------------------------

            if (branch.startsWith("feature/")) labels.push("feature");
            if (branch.startsWith("fix/")) labels.push("fix");
            if (branch.startsWith("hotfix/")) labels.push("hotfix");

            // ---------------------------
            // ✅ II - Adding path based labels
            // ---------------------------

            const files = await github.paginate(
              github.rest.pulls.listFiles, {
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.payload.pull_request.number,
                per_page: 100
              }
            );

            // ---------------------------
            // ✅ 1 - Weather-Forecast labeling
            // ---------------------------

            const wfTouched = files.some(file =>
              file.filename.startsWith("src/weather-forecast-api/") ||
              file.filename.startsWith("src/weather-forecast-frontend/")
            );

            if (!wfTouched) {
              console.log("No Weather Forecast changes detected — skipping WeatherForecast label assignment.");
            }
            else {
                labels.push("weather-forecast");
            }

            // ---------------------------
            // ✅ 2 - DevOps team labeling
            // ---------------------------

            const isDevOpsTouched = files.some(file =>
              file.filename.startsWith("k8s") ||
              file.filename.startsWith("iac") ||
              file.filename.startsWith(".github")
            );

            if (!isDevOpsTouched) {
              console.log("No DevOps changes detected — skipping DevOps label assignment.");
            }
            else {
                labels.push("devops");
            }

            // ---------------------------
            // Committing all label assignments
            // ---------------------------

            if (labels.length > 0) {
              await github.rest.issues.addLabels({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.payload.pull_request.number,
                labels
              });
            }