name: CI - Build & Push Weather Forecast Backend

on:
    push:
        branches:
            - main
            - develop
            - 'release/**'
        paths:
          - src/weather-forecast-api/**
    pull_request:
        paths:
          - src/weather-forecast-api/**
    workflow_dispatch:

jobs:

    # Try to package docker image
    Backend-buildAndPush:
        uses: ./.github/workflows/ci-template.yml
        with:
            service_name: weather-forecast-api
            service_path: src/weather-forecast-api
            gitversion_config_path: src/weather-forecast-api/GitVersion.yml
        secrets:
            ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
            ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
            ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}

    # Run unit tests
    run-UnitTests:
        runs-on: ubuntu-latest
        steps:
              - name: Restore Backend dependencies
                run: |
                    dotnet restore src/weather-forecast-api/Tests/WeatherForecast.Tests.csproj
          
              - name: Run unit tests
                working-directory: src/weather-forecast-api/Tests
                run: |
                 dotnet test \
                    --configuration Release \
                    --logger "trx;LogFileName=backend-tests.trx" \
                    --collect:"XPlat Code Coverage" \
                    /p:CollectCoverage=true \
                    /p:CoverletOutputFormat=cobertura \
                    /p:CoverletOutput=TestResults/Coverage/

              - name: Upload backend test results
                uses: actions/upload-artifact@v4
                with:
                    name: backend-test-results
                    path: src/weather-forecast-api/TestResults
            