name: Build & Push Weather Forecast API to Docker Registry

# on:
#     push:
#         branches: [ "main" ]
#         paths:
#           - "src/weather-forecast-api/**"
#     pull_request:
#         paths:
#           - "src/weather-forecast-api/**"

on:
    push:
        branches:
          - main

jobs:
    backend-dockerBuildAndPush:
        uses: ./.github/workflows/ci-template.yml
        with:
            service_name: weather-forecast-api
            service_path: src/weather-forecast-api
            gitversion_config_path: src/weather-forecast-api/GitVersion.yml
        secrets:
            ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
            ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
            ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}