name: CI - Build & Push Weather Forecast Backend

on:
    push:
        branches:
            - main
            - develop
            - 'release/**'
        paths:
          - src/weather-forecast-api/**
    workflow_dispatch:

jobs:

    # Try to package docker image
    Backend-buildAndPush:
        uses: ./.github/workflows/ci-template.yml
        with:
            service_name: weather-forecast-api
            service_path: src/weather-forecast-api
            gitversion_config_path: src/weather-forecast-api/GitVersion.yml
        secrets:
            ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
            ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
            ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
            