name: (Template) Docker buld and push
on:
    workflow_call:
        inputs:
            push_to_registry:
              default: true
              type: boolean
            service_name:
                required: true
                type: string
            service_path:
                required: true
                type: string
            gitversion_config_path:
                required: true
                type: string
        secrets:
          ACR_LOGIN_SERVER:
            required: true
          ACR_USERNAME:
            required: true
          ACR_PASSWORD:
            required: true
            
jobs:
    Versionning:
        runs-on: ubuntu-latest
        outputs:
            version:  ${{ steps.gitversion.outputs.semVer }}
            sha: ${{ steps.sha.outputs.short }}
        
        steps:
           - name: Checkout repository
             uses: actions/checkout@v4
             with:
               fetch-depth: 0 # necessary for git version

           - name: Install GitVersion
             uses: gittools/actions/gitversion/setup@v0.10.2
             with:
                versionSpec: "5.x"
            
           - name: Run GitVersion
             id: gitversion
             uses: gittools/actions/gitversion/execute@v0.10.2
             with:
               configFilePath: ${{ inputs.gitversion_config_path }}

           - name: Get short SHA
             id: sha
             run: echo "short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    BuildAndPushImage:
        needs: [Versionning]
        name: Build & Push service
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0   # REQUIRED for GitVersion. Disables shallow clone
            
            - name: Set image name
              run: |
                VERSION_TAG="${{ needs.versionning.outputs.version }}-${{ needs.versionning.outputs.sha }}"
                IMAGE="${{ secrets.ACR_LOGIN_SERVER }}/${{ inputs.service_name }}:$VERSION_TAG"
                echo "IMAGE=$IMAGE" >> $GITHUB_ENV
            
            # Only push to registry when flag is true
            - name: Login to ACR
              uses: docker/login-action@v3
              with:
                registry: ${{ secrets.ACR_LOGIN_SERVER }}
                username: ${{ secrets.ACR_USERNAME }}
                password: ${{ secrets.ACR_PASSWORD }}

            - name: Build image
              run: |
                docker build -t $IMAGE ${{ inputs.service_path }}
                docker push $IMAGE

            -  name: Push image
               if: ${{ inputs.push_to_registry == true }}
               run: |
                docker push $IMAGE